$primary-color: #d1eef1;
$secondary-color: #22d1ee;
$muted-color: rgb(107, 107, 107);
#review {
  background-image: linear-gradient(to right, $primary-color, $secondary-color);
  padding-top: 10%;
}
#review-slider {
  background-image: linear-gradient(to right, $primary-color, $secondary-color);
  margin: 5% 7%;
  .review-card {
    background-color: #e1f1f3;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    img {
      margin: auto;
    }
  }
  .review-text {
    display: block;
    margin: auto;
    // padding: 10%;
    img {
      width: 30%;
      margin-bottom: 30px;
    }
    p {
      font-size: 15px;
    }
  }
}
